<nav class="navbar">
    <div class="container">
      <div class="logo">
        <a routerLink="/">The Carpet Factory</a>
      </div>
      <ul class="nav-links" [class.nav-active]="isMenuOpen">
        <li><a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active" (click)="closeMenu()">Products</a></li>
        <li><a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About Us</a></li>
        <li>
          <a href="#" (click)="handleCartClick($event)" class="cart-link" (click)="closeMenu()">
            <i class="fas fa-shopping-cart"></i> Cart
          </a>
        </li>
        <li *ngIf="showLogoutButton"><a href="#" (click)="logout()" class="nav-link" >Logout</a></li>
        <li *ngIf="!showLogoutButton"><a href="/login" class="nav-link" >Login</a></li>
      </ul>
      <div class="burger"  (click)="toggleMenu()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>

        <!-- Login Popup -->
    <div class="popup-overlay" *ngIf="showLoginPopup">
      <div class="popup-content">
        <h3>Login Required</h3>
        <p>Please login to add items to cart.</p>
        <div class="popup-actions">
          <button (click)="closePopup()">Cancel</button>
          <button (click)="goToLogin()">Login Now</button>
        </div>
      </div>
    </div>
  </nav>

  
