<div class="auth-container">
  
  <!-- Login Form -->
  <div *ngIf="!showSignup" class="auth-form">
    <h2>Log In</h2>
    <form (ngSubmit)="handleLogin()" novalidate>
      <input type="email" placeholder="Email" [(ngModel)]="loginEmail" name="loginEmail" required>
      <input type="password" placeholder="Password" [(ngModel)]="loginPassword" name="loginPassword" required>
      <button type="submit">Log In</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p class="toggle-text">
      Don't have an account? <button class="ghost" (click)="toggleView()">Sign In</button>
    </p>
  </div>

  <!-- Signup Form -->
  <div *ngIf="showSignup" class="auth-form">
    <h2>Create Account</h2>
    <form (ngSubmit)="handleSignup()" novalidate>
      <input type="text" placeholder="Name" [(ngModel)]="signupName" name="signupName" required>
      <input type="email" placeholder="Email" [(ngModel)]="signupEmail" name="signupEmail" required>
      <input type="password" placeholder="Password" [(ngModel)]="signupPassword" name="signupPassword" required>
      <button type="submit">Sign Up</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <p class="toggle-text">
      Already have an account? 
      <button class="ghost" (click)="toggleView()">Log In</button>
    </p>
  </div>

</div>
