<div class="promo-strip">
  <div class="promo-text-wrapper">
    <span class="promo-text">
      🔥 Get 50% Off On All Products! &nbsp; | &nbsp;
      🎉 Additional 10% Off On Prepaid Orders! &nbsp; | &nbsp;
      🛒 Buy 3 Get Additional 10% Off! &nbsp; | &nbsp;
      🎁 Buy 4 Get Additional 15% Off! &nbsp; | &nbsp;
    </span>
    <span class="promo-text">
      🔥 Get 50% Off On All Products! &nbsp; | &nbsp;
      🎉 Additional 10% Off On Prepaid Orders! &nbsp; | &nbsp;
      🛒 Buy 3 Get Additional 10% Off! &nbsp; | &nbsp;
      🎁 Buy 4 Get Additional 15% Off! &nbsp; | &nbsp;
    </span>
        <span class="promo-text">
      🔥 Get 50% Off On All Products! &nbsp; | &nbsp;
      🎉 Additional 10% Off On Prepaid Orders! &nbsp; | &nbsp;
      🛒 Buy 3 Get Additional 10% Off! &nbsp; | &nbsp;
      🎁 Buy 4 Get Additional 15% Off! &nbsp; | &nbsp;
    </span>
    </div>
</div>